{{ define "main" }}

<div class="portfolio-list">

  {{ range where .Site.RegularPages "Section" "portfolio" }}

    {{ $imageDir := .Params.image_path }}
    {{ $images := resources.Match (printf "%s/*" $imageDir) }}

    <div class="portfolio-carousel">

      {{ range $images }}

        <a href="{{ .RelPermalink }}">
          <div class="carousel-cell">
            <img src="{{ .RelPermalink }}" alt="Portfolio Image">
          </div>
        </a>

      {{ end }}

    </div>

  {{ end }}

</div>

{{ end }}